.car-sale-icon {
    background-position: top left;
    width: 50%;
    height: 50%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background: #fff;
    box-shadow: 0 1px 4px #0000;
    transition: box-shadow .15s ease-in-out;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1210px;
    height: 100%;
    margin: 0 auto;
    padding: 0 36px;
}

.header-logo {
    font-size: 0;
    line-height: 0;
    width: 115px;
    height: 100%;
    background-image:url('../images/CarSaleIcon.png');
    background-repeat: no-repeat;
    background-position: left 50% top calc(50% - 1px);
    background-size: auto 50px;
}

.header-logo-link {
    display: block;
    height: 100%;
}

.close-ref {
    cursor: pointer;
    touch-action: manipulation;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    outline: none;
    transition: color .3s ease;
    color: #f54b42;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin: 0;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sell-car-header {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 50px;
    transition: opacity .15s ease-in-out;
    opacity: 1;
}

.params-form {
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 24px;
    border: 1px solid #0000000f;
    border-radius: 16px;
    box-shadow: 0 4px 24px #0000000a;
    align-items: center;
}

.h2-specifications {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.h2-mileage{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 16px;
}

.text-field {
    margin-bottom: 1rem;
}

.text-field__label {
    display: block;
    color: #bdbdbd;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

/* with floating label */
.text-field_floating {
    position: relative;
}

.text-field_floating .text-field__input {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
}

.text-field_floating .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.text-field_floating .text-field__input::-moz-placeholder {
    color: transparent;
}

.text-field_floating .text-field__input::placeholder {
    color: transparent;
}

.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}

.custom-select {
    width: 280px;
    position: relative;
}

select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.675em 1em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 25%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 45%;
}

.type-section-content {
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}

.type_label {
    padding: 1rem .75rem;
    min-width: 150px;
}

.type_label-spec {
    padding: 1rem .75rem;
    min-width: 220px;
}

.button {
    font-family: inherit;
    position: relative;
    padding: 0;
    cursor: pointer;
    border: 1px solid #0000;
    color: #0c78ed;
    background-color: #e2effd;
    border-radius: 16px;
    font-size: 17px;
    height: 52px;
    width: 500px;
    margin: auto auto 20px auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.validationError {
    color: #f54b42;
}

.pts-type-field-header {
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 12px;
}

/*.pts-type-field {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    row-gap: 12px;*/
/*    column-gap: 8px;*/
/*}*/

/*.blue-checked-button {*/
/*    color: #000;*/
/*    border: 1px solid #157ee180;*/
/*    border-radius: 1000px;*/
/*    line-height: 42px;*/
/*    height: 44px;*/
/*    font-family: inherit;*/
/*    font-size: 15px;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    box-sizing: border-box;*/
/*    max-width: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    white-space: nowrap;*/
/*    text-decoration: none;*/
/*    -webkit-tap-highlight-color: transparent;*/
/*    outline: 0;*/
/*    background: white;*/
/*}*/

/*.blue-checked-button:hover {*/
/*    background-color: #2669E7FF;*/
/*}*/


/*.blue-checked-button:active {*/
/*    color: white;*/
/*    background-color: #2669E7FF;*/
/*}*/

/*.button-content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*}*/

/*.button-text {*/
/*    margin: 12px 16px;*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/