<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="/static/css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="d-flex justify-content-center">
  <h3 class="fw-bold">Авторизация</h3>
</div>
<div>
  <form id="loginForm" th:object="${userInfo}" method="post">
    <ul class="error-container">
      <li class="error" th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </ul>
    <table class="d-flex justify-content-center">
      <tr>
        <td><label class="form-label">Логин:</label></td>
        <td><input type="text" th:field="*{username}" class="form-control" maxlength="50"/></td>
      </tr>
      <tr>
        <td><label  class="form-label">Пароль:</label></td>
        <td><input th:field="*{password}" class="form-control" maxlength="50"/></td>
      </tr>
      <tr class="d-flex justify-content-center">
        <td>
          <button type="submit" th:formaction="@{/auth/signIn}" class="btn btn-dark rounded-pill px-3">Войти</button>
          <button type="submit" th:formaction="@{/auth/signUp}" class="btn btn-dark rounded-pill px-3">Зарегистрироваться</button>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>